:root {
    --background-color:#ffffff;
    --text-color:#000000;
    --blure-color:#225490;
    --border-color:#FFEA4C;
    --hover-color: #5D9ECD;
    --sold-color:#D87CD6;
    --reserved-color:#FFEA4C;
    --description-color:#F8304A;
    --accent-color:#5D9ECD; /* Added missing accent color */
}

:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --default-font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-family: var(--default-font);
    font-weight: 300;
    padding-top: 0;
    margin-top: 0;
}
body {
    margin: 0;
}

.europe-container {
    margin-left: 100px;
    margin-right: 100px;
}

header {
    margin-top: 0;
    padding-top: 0;
}

/* Header styles*/
 .europe-header{
    height: 200px;
 }

 .header-europe-container {
    align-items: center;
    height: 100%;
    display: flex
 }

 .header-europe-container h1 {
    font-family: var(--default-font);
    font-size: 47px;
    font-weight: 400;
 }

 /* Hero Styles*/

 .europe-hero {
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/projects-europe.PNG);
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
 }


 .europe-hero-butt {
    width: 380px;
    height: 90px;
    z-index: 2;
    background-color: var(--border-color);
    color: var(--text-color);
    border-color: var(--blure-color);
    border-radius: 7px;
    transition: ease-in-out 0.3s;
 }

  .europe-hero-butt:active {
    background-color: #c4c4c4;
  }

   .europe-hero-butt:hover {
    background-color: var(--hover-color);
   }

/* Project details style */

.project-details {
    margin-top: 60px;
    display: flex;
}
.characteristics-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.characteristics-list li {
  display: flex;
  font-family: var(--default-font);
  font-size: 14px;
  margin-bottom: 15px;
}

.characteristics-list .label {
  width: 180px; /* фиксированная ширина для выравнивания */
  font-weight: bold;
}

.characteristics-list .value {
  flex: 1;
}

.project-details h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: var(--default-font);
  font-weight: bold;
}

.project-details h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: var(--default-font);
}

.project-adress {
    font-family: var(--default-font);
    font-size: 14px;
    color: #14324D;
    margin-top: 40px;
}

.bold-adress {
    font-weight: bold;
}

.layout {
  position: relative;
  width: 100%;
  height: 600px;
  margin-left: 70px; /* или под размер макета */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  background-color: #f5f5f5; /* фон, если нужен */
}

.price-tag {
  position: absolute;
  top: 20px;
  left: 100px;
  background-color: white;
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.kitchen-photo {
  width: 42%;
  height: auto;
  object-fit: cover;
  
}

.outdoor-photo {
  width: 55%;
  height: 100%;
  object-fit: cover;
  
}

.stat-item {
  position: relative;
  padding: 10px;
  text-align: center;
  font-family: var(--default-font);
}


.stat-number {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color); 
  
}

/* Текст */
.stat-text {
  margin-top: 5px;
  font-size: 1rem;
  color: #36517E;
}


.block {
  position: relative;
  padding: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

.block::before,
.block::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-color: var(--border-color);
  border-style: solid;
}


.block.top-left::before {
  top: 0;
  left: 0;
  border-width: 3px 0 0 3px;
}


.block.top-right::before {
  top: 0;
  right: 0;
  border-width: 3px 3px 0 0;
  
}


.block.bottom-left::after {
  bottom: 0;
  left: 0;
  border-width: 0 0 3px 3px;
}


.block.bottom-right::after {
  bottom: 0;
  right: 0;
  border-width: 0 3px 3px 0;
}

/* about us styles */

.about-europe {
    height: 530px;
    margin-top: 60px;
    margin-bottom: 60px;
    
}

.about-us-container {
    display: flex;
}
.left-about-us {
    display: flex;
    align-items: flex-end;
}

.outdoor-view {
    width: 400px;
    height: 500px;
}


.playground-view {
    width: 200px;
    height: 260px;
    margin-left: 24px;
}

.right-about-us {
    margin-left: 24px;
    width: 600px;
    height: 500px;
}

.title-container {
    text-align: center;
}

.title-container h2 {
    font-weight: bold;
}

.item-list-about {
    display: flex;
}

.about-block {
  position: relative;
  padding: 50px;
}

.about-block::before,
.about-block::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-color: var(--blure-color);
  border-style: solid;
}


.about-block.top-left::before {
  top: 0;
  left: 0;
  border-width: 3px 0 0 3px;
}


.about-block.top-right::before {
  top: 0;
  right: 0;
  border-width: 3px 3px 0 0;
  
}


.about-block.bottom-left::after {
  bottom: 0;
  left: 0;
  border-width: 0 0 3px 3px;
}


.about-block.bottom-right::after {
  bottom: 0;
  right: 0;
  border-width: 0 3px 3px 0;
}

.item-about-us {
    justify-items: center;
    margin-top: 45px;
    margin-left: 45px;
}

.item-about-us p {
    font-family: var(--default-font);
    font-size: 16px;
    padding: 0;
    margin-top:3px;
}

.item-text {
    margin-top: 135px;
}

.about-number {
    color: var(--border-color);
}

.about-europe-button {
    display: block;
    width: 400px;
    height: 45px;
    background-color: var(--blure-color);
    color: var(--background-color);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    border-radius: 7px;
    border: none;
    transition: ease-in-out 0.3s;
}

.about-europe-button:hover {
    background-color: var(--accent-color);
}

.about-europe-button:active {
    background-color: var(--accent-color);
}

/* Description styles */

.description {
    display: flex;
    height: 400px;
    margin-top: 90px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.description-text p {
    font-family: var(--default-font);
    font-size: 20px;
}

.bottom-text {
    margin-top: 165px;
}

.description-text {
    margin-right: 120px;
}

.description-image {
    width: 600px;
    height: 250px;
    margin-left: 20px;
}

/* Footer styles */

.footer-container {
  width: 100%;
  height: 160px;
  background: linear-gradient(rgba(34,84,144,0.2), rgba(34,84,144,0.2)), url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 230px;
  height: 110px;
}
.footer-logo {
  margin-left: 120px;
  margin-right: 100px;
}

footer {
  margin: 0;
}

.footer-container ul {
  text-decoration: none;
  list-style: none;
  height: 110px;
  margin-right: 100px;
  margin-top: 25px;
}

.footer-container ul li {
  color: var(--background-color);
}

.footer-text {
  font-family: var(--default-font);
  font-size: 12px;
  margin-bottom: 8px;
}

.title-footer {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 12px;
}

.widgets-footer {
  display: flex;
}

.footer-text a {
  text-decoration: none;
  color: inherit;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.footer-text a:hover {
color: var(--accent-color);
}